/* Title */
.header-background-image-container {
  -webkit-mask-size: auto auto;
  mask-size: auto auto;
  position: relative;
  background-color: #0a3863;
}

.title-background-image {
  vertical-align: top;
  width: 100%;
  height: auto;
  opacity: .75;
}

.background-text {
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Other styles as needed */
  font-family: 'Poppins', sans-serif;
  text-shadow: 3px 3px 5px rgba(0,0,0,1);
  font-size: 4vw;
  width: 80%;
}

/* NAVBAR */

.company-logo {
  height: 96px; /* Adjust the height for small screens */
}
.navbar-content-area {
  background-color: #ffffff;
  height: 100px;
  width: 90%;
  padding: 1% 5% 1% 5%;
}

.navbar-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px; /* Adjust the height for small screens */
}

.navbar-page-titles-container {
  display: flex;
  flex-direction: row;
}

.navbar-link {
  text-align: center;
  display: flex;
  font-display: flex;
  margin: 0px calc(5px + 1vmin) 0px calc(5px + 1vmin);
  font-size: calc(6px + 2vmin);
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #0a3863;
}

.contact-link {
  /* Your red box styling */
  background-color: red;
  color: white;
  /* Other styles */
  text-align: center;
  display: flex;
  font-display: flex;
  padding: 0px calc(5px + 1vmin) 0px calc(5px + 1vmin);
  font-size: calc(6px + 2vmin);
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}


.section-title {
  font-size: calc(6px + 2vmin);
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #e81c27;
  max-width: 40%;
  margin: 5% auto;
  color: #ffffff;
}

/* About */

.about-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 350px; /* Set the height for the About section */
}

.text-section {
  flex: 1;
  padding: 5% 5% 5% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically */
  flex-direction: column;
}

.about-title {
  background-color: #0a3863;
  color: white;
  text-align: center;
  padding: 0% 5% 0px 5%;
  margin-bottom: 5%;
  font-size: calc(6px + 2vmin);
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.about-text {
  color: #0a3863;
  text-align: center;
  max-width: 80%;
  margin: 0px calc(5px + 1vmin) 0px calc(5px + 1vmin);
  font-size: calc(4px + 2vmin);
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.image-container {
  flex: 2;
  position: relative;
  display: flex;
  overflow: hidden;
  width: 60%;
  max-height: 100%; /* Allow images to scale */
}

.first-image {
  flex: 1;
  position: relative;
  height: 100%;
}
.second-image {
  flex: 2;
  position: relative;
}

.first-image img {
  width: auto;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.second-image img {
  width: auto;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

 @media screen and (max-width: 650px) { 
  .about-container {
      flex-direction: column;
      height: 500px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .text-section {
    max-width: 50%;
  }
  .image-container {
    width: 100%;
  }

  .first-image {
    flex: 1;
    position: relative;
    width: 100%;
  }
  .second-image {
    flex: 1;
    position: relative;
    min-width: 45%;
  }
  .second-image img {
    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
  }
} 

/* About Me  */

.about-me-and-image-container {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  margin: 20px 5% 20px 5%;
  /* width: 100%; */
}

@media (max-width: 1122px) {
  .about-me-and-image-container {
    flex-direction: column;
  }
  
  .about-me-image-container {
    flex: row;
  }
}

.about-me-text-container {
  display: flex;
  flex-direction: column;
  flex:2;
}

.about-me-bold-text {
  text-align: center;
  font-size: calc(6px + 3vmin);
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin: 2% 2% 2% 2%;
}

.about-me-text {
  text-align: center;
  font-size: calc(3px + 2vmin);
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin: 2% 2% 2% 2%;
}

.about-me-image-container {
  /* max-height: 100%; */
  flex: 3;
}

.about-me-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/* Customers Say */

.customer-quote-picture-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10% 5% 20px 10%;
}

.customer-say-image {
  width: 30%;
  object-fit: contain;
  border-radius: 20px;
  flex: 1;
}

.customer-quote-container {
  flex: 1;
  flex-direction: column;
  border-left: #e81c27 5px solid;
  padding-left: 5%;
}

.customer-quote-container-right-border {
  flex: 1;
  flex-direction: column;
  border-right: #e81c27 5px solid;
  padding-left: 5%;
}

.customer-name-left {
  text-align: left;
  font-size: calc(6px + 2vmin);
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin: 2% 2% 2% 2%;
}

.customer-quote-left {
  text-align: left;
  font-size: calc(3px + 2vmin);
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin: 2% 2% 2% 2%;}

.customer-name-right {
  text-align: right;
  font-size: calc(6px + 2vmin);
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin: 2% 2% 2% 2%;
}

.customer-quote-right {
  text-align: right;
  font-size: calc(3px + 2vmin);
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin: 2% 2% 2% 2%;}

 @media (max-width: 1000px) {
  .customer-quote-picture-container {
    flex-direction: column;
  }
  
  .customer-say-image {
    width: 60%;
    max-height: 60%;
    order: 1;
  }
  
  .customer-quote-container,
  .customer-quote-container-right-border {
    border: none;
    padding-left: 0;
    border-left: #e81c27 5px solid; /* Add this line */
  }
  
  .customer-name-left,
  .customer-quote-left,
  .customer-name-right,
  .customer-quote-right {
    text-align: left;
  }
}

/* Contact */

.contact-section {
  background-color: red;
  color: white;
  padding: 50px;
  font-size: calc(1px + 3vmin);
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin-top: 80px;
}

/* Styling for the phone number */
.contact-section .phone {
  float: left;
  margin-right: 20px;
}

/* Styling for the email */
.contact-section .email {
  float: right;
}
